[all:vars]
ansible_ssh_user=ld-admin
ansible_ssh_private_key_file=/tmp/dynamic-keypair.pem
old_version={{ old_version }}
new_version={{ new_version }}
rc={{ rc }}
packages={{ packages }}

[mgmt]
{{ mgmt_ip }}
